.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #000;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: white;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait1.jpg");
      border-radius: 50%;
      border: solid 3px orangered; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: orangered; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: orangered; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: white;
  color: #000;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background2.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(255, 255, 255, 0.9); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 5.5rem;
    text-align: center; }

a {
  color: #463f3f;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary, .textSecondary {
  color: orangered; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: orangered;
        transition: all 0.5s ease-out; }
  main#home {
    text-align: center;
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

#about {
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.93), rgba(231, 225, 225, 0.93)), url(/img/background2.jpg); }

.about-info {
  text-align: center;
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "bioimage bioimage bioimage" "bio bio bio" "heading heading heading" "card-1 card-2 card-3" "card-4 card-5 card-6" "card-7 card-8 card";
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: orangered 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
    .about-info .bio__text {
      margin-bottom: 5rem; }
  .about-info .mes-crt {
    grid-area: heading;
    margin-top: 5rem;
    margin-bottom: 2rem; }
  .about-info .card img {
    cursor: pointer;
    width: 75%;
    border: 5px solid #b3b3b3; }
    .about-info .card img:hover {
      opacity: 0.5;
      border: orangered 5px solid;
      transition: all 0.5s ease-out; }
  .about-info .card-1 {
    grid-area: card-1; }
  .about-info .card-2 {
    grid-area: card-2; }
  .about-info .card-3 {
    grid-area: card-3; }
  .about-info .card-4 {
    grid-area: card-4; }
  .about-info .card-5 {
    grid-area: card-5; }
  .about-info .card-6 {
    grid-area: card-6; }
  .about-info .card-7 {
    grid-area: card-7; }
  .about-info .card-8 {
    grid-area: card-8; }

.projects {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 5px solid #d9d9d9; }
    .projects img:hover {
      opacity: 0.5;
      border: orangered 5px solid;
      transition: all 0.5s ease-out; }

#work h1 {
  margin-bottom: 2rem; }

#contact .row {
  margin: 0; }

#contact h1 {
  padding: 4rem; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #ff8f66;
    color: #000; }

.btn-form,
.btn-form:visited {
  cursor: pointer;
  background-color: #3fa044;
  color: white; }
  .btn-form:hover,
  .btn-form:visited:hover {
    background-color: #56bc5b; }

.btn-dark {
  background: gray;
  color: #fff; }

.btn-light {
  background: #ededed;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #d9d9d9;
  color: #000;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 4rem; }
  h1,
  h2,
  h3 {
    font-size: 1.5rem; }
  .bio p {
    font-size: 1.15rem; }
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 30vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/portrait1_small.jpg");
      width: 150px;
      height: 150px; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "card-1" "card-2" "card-3" "card-4" "card-5" "card-6" "card-7" "card-8";
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .projects {
    grid-template-columns: 1fr; } }
